<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoNotify.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C21C590B29D6ACA7006F3241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C21C592129D6ACA7006F3241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C21C592B29D6ACA7006F3241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
